---
import SideBarFooter from "./SideBarFooter.astro";
import { Image } from "astro:assets";
import SideBarMenu from "./SideBarMenu.astro";

const { sideBarActiveItemID } = Astro.props;
---

<div class="drawer-side z-40">
  <label for="my-drawer" class="drawer-overlay backdrop-blur-sm"></label>
  <aside class="px-4 pt-2 h-auto min-h-full w-[18rem] bg-base-200 border-r border-base-300/30 text-base-content flex flex-col">
    <div class="w-fit mx-auto mt-6 mb-8">
      <a href="/" class="block group">
        <div class="avatar transition-all duration-300 group-hover:ring-2 group-hover:ring-primary/30 rounded-full block m-auto">
          <div class="w-24 rounded-full ring-1 ring-base-300/50">
            <Image
              class="mask mask-circle"
              format="webp"
              width={300}
              height={300}
              src="/profile.png"
              alt="Profile"
            />
          </div>
        </div>
      </a>
    </div>

    <SideBarMenu sideBarActiveItemID={sideBarActiveItemID} />
    <SideBarFooter />
  </aside>
</div>